.banner-main {
  // background: $brand-secondary url('/images/banners/banner-01.jpg') center
  //   center / cover no-repeat;
  height: 716px;
  margin-bottom: 16px;
  color: $white;
  font-weight: 300;
  font-size: 18px;
  // @include media-breakpoint-up(lg) {
  //   background-image: url('/images/banners/banner-02.jpg');
  // }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    text-align: center;
    position: relative;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
      // padding-right: 80px;
    }

    h1 {
      font-size: 49px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 75px;
      }
    }

    h2 {
      font-size: 27px;
      font-weight: 300;

      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
    }
  }

  &-copy {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 21.86%;

    @include media-breakpoint-up(lg) {
      bottom: 16px;
      left: unset;
      right: 80px;
      width: auto;
      padding: 0;
      text-align: right;
    }

    p:first-child {
      span {
        display: block;
        font-size: 24px;

        @include media-breakpoint-up(lg) {
          display: inline;
          font-size: 18px;
        }
      }
    }

    p:last-child {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
