@import './home-payment';
@import './home-newsletter';
@import './home-catalog-preview.scss';
@import './banner-main';
@import './home-carousel';

.content-main {
  display: flex;
  flex-direction: column;
  gap: 100px;

  & > section {
    & > header {
      text-align: center;
      margin-bottom: 40px;

      h1 {
        text-transform: uppercase;
        line-height: 29px;
        font-size: 24px;
        color: $brand-primary;
        font-weight: 500;

        @include media-breakpoint-up(lg) {
          color: $gray-secondary;
          line-height: 50px;
          font-size: 41px;
          text-transform: unset;

          span {
            font-weight: 300;
          }
        }
      }
    }
  }
}
