//mai multe layout

// .home-catalog-preview {
//   .product-tiles:first-child {
//     display: flex;
//     flex-direction: column;
//     gap: 70px;

//     @include media-breakpoint-up(lg) {
//       display: block;
//     }
//   }
// }

.home-catalog-preview {
  .product-tiles {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  //v1 of layout
  &:first-child {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        display: block;

        & > li {
          width: 27.386541%; //350 / 1278
          float: left;
          margin-left: 8.8419405%; // 113 / 1278

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  // v2 of layout flex
  &:nth-child(2) {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > li {
          width: 27.386541%;
        }
      }
    }
  }

  // v3 of layout grid
  &:nth-child(3) {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        gap: 8.8419405%;
      }
    }
  }
}
