.button {
  background-color: $brand-primary;
  text-transform: uppercase;
  color: $white;
  font-size: 20px;
  padding: 14px 40px;
  display: inline-block;
  border: 1px solid $brand-primary;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear;

  &:hover {
    background-color: transparent;
    color: $brand-primary;
  }

  &-large {
    padding: 28px 72px;
    border-radius: 64px;
  }
}
