@import './fonts';

//fontawesome

@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//vom vedea ghiduri care folosesc ~
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

//bootstrap

@import './../node_modules/bootstrap/scss/bootstrap-reboot';
@import './../node_modules/bootstrap/scss/bootstrap-grid';
@import './../node_modules/bootstrap/scss/bootstrap-utilities';

//reset

@import './reset';

//variables

@import './variables';

//common

@import './common/index';

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $gray-primary;
}

@import './homepage/index';
